.row-col{
    width: 270px;
    height: 270px;
    text-align: center;
    border-style: double;
    margin-top: 10px;

}

.row-col-9
{
    width: 640px;
    text-align: center;
    border-style: double;
    margin-top: 20px;
    margin-left: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
}


.row-col-5{

    width: 450px;
    text-align: center;
    border-style: double;
    margin-top: 20px;

    padding-bottom: 20px;
    padding-top: 20px;
}

.row-col-4{
    width: 360px;
    text-align: center;
    border-style: double;
    margin-top: 20px;

    padding-bottom: 20px;
    padding-top: 20px;
}