{% extends 'base.html' %}

{% block content %}

    <div class="row">
    <div class="col-sm-6">
        <div class="row-col-6">
            <h4>Participate Meeting</h4>
    <hr>
    {% for meeting in meeting_participates %}
     <i class="fa fa-graduation-cap"></i> {{ meeting.title }}
            <br>
           <strong>Topic: </strong>{{ meeting.description }}
            <br>
            <i class="fas fa-chalkboard-teacher"></i> {{ meeting.arranged_by }}
            <br>
            <i class="fa fa-clock-o"></i>{{ meeting.meeting_time }}
            <hr>
        {% empty %}
        No Participate Meeting Yet.
    {% endfor %}
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row-col-6">
<h4>Arrange Meeting</h4>
<a href="{% url 'create_meeting' %}" class="btn btn-success btn-sm" role="button"><i class=" fa fa-plus-circle"></i> Arrange Meeting</a>
    <hr>
    {% for meeting in meeting_arrangements %}
     <i class="fa fa-graduation-cap"></i> {{ meeting.title }} <a href="{% url 'delete_meeting' meeting.pk %}"><i class="fa fa-trash"></i> </a>
        <a href="{% url 'update_meeting' meeting.pk %}"><i class="fa fa-edit"></i> </a>

            <br>
           <strong>Topic: </strong>{{ meeting.topic }}
            <br>
            <i class="fas fa-chalkboard-teacher"></i> {{ meeting.arranged_by  }}
            <br>
            <i class="fa fa-clock-o"></i>{{ meeting.meeting_time }}
            <hr>
        {% empty %}
        No Meeting Arrange  Yet
    {% endfor %}
        </div>
    </div>
    </div>



{% endblock %}