{% extends 'base.html' %}


{% block content %}
   <br>
    <div class="row">
    <div class="col-sm-12 text-center">
        <table class="table table-bordered">
            <tr>
                <th>Task Name</th>
                <td>{{ task.name }}</td>
            </tr>
             <tr>
                <th>Task Description</th>
                <td>{{ task.description }}</td>
            </tr>
            <tr>
                <th>Task Assigned By</th>
                <td>{{ task.assign_by }}</td>
            </tr>
            <tr>
                <th>Task Assigned To</th>
                <td>{{ task.assign_to }}</td>
            </tr>
            <tr>
                <th>Task Assigned Time</th>
                <td>{{ task.assign_time }}</td>
            </tr>
            <tr>
                <th>Task Status</th>
                <td>{{ task.status }}</td>
            </tr>
            <tr>
                <th>Task will be Completed</th>
                <td>{{ task.complete_time }}</td>
            </tr>
        </table>
         {% if task.assign_by.user == login_user %}
        <a href="{% url 'edit_task' task.pk %}" class="btn btn-primary btn-sm" role="button">Edit Task </a>
             <a href="{% url 'delete_task' task.pk %}" class="btn btn-info btn-sm" role="button">Delete Task </a>

         {% endif %}

    {% if task.assign_to.user == login_user %}
    <a href="{% url 'update_task_status' task.pk %}" class="btn btn-primary btn-sm" role="button"> Update Task Status </a>

    {% endif %}
    <a href="{% url 'home' %}" class="btn btn-outline-dark btn-sm" role="button">Not Now </a>


    </div>
    </div>







{% endblock %}