{% extends 'base.html' %}

{% block title %}
    {{ group_info }}
{% endblock %}
{% block content %}




<div id="members" class="row-col-9">

<strong>Admin:</strong>
    {{ group_info.creator }}
{% if group_info.creator.user == login_user %}
<a href="{% url 'delete_group' group_info.pk %}"> <i class="fa fa-trash"> </i></a>
{% endif %}
<hr>
<h6>Members</h6>

{% for person in group_info.member.all %}

    {% ifnotequal person.user|stringformat:"s" login_user|stringformat:"s" %}
         {{ person}}
        {% if group_info.creator.user|stringformat:"s" == login_user|stringformat:"s" %}
             <a href="{% url 'delete_member' group_info.pk person.id %}">
             <i class="fa fa-remove"> </i></a>
         {% endif %}
        <br>
        {% else %}
        You   <a href="{% url 'delete_member' group_info.pk person.id %}">Leave</a>
        <br>




    {% endifnotequal %}
    {% endfor %}
{% if group_info.creator.user|stringformat:"s" == login_user|stringformat:"s" %}
<i class="fa fa-plus-circle"></i> <a href="{% url 'add_member' group_info.pk %}">Add Member </a>

{% endif %}
</div>




{% endblock %}