{% extends 'base.html' %}

{% block content %}



<div class="col-sm-3">
<div class="row-col">
 <strong>Announcement</strong>
<hr>
    {% for announce in announcement %}

        <i fa class="fa fa-bullhorn"></i><strong>{{ announce|truncatewords:3 }}</strong>
        <br>
        <i fa class="fa fa-envelope-open"></i>{{ announce.description }}
        <br>
          <i class="fa fa-clock-o">{{ announce.time }}</i>
        <hr>
      {% empty %}
        No Announcement Yet
    {% endfor %}
</div>

<div class="row-col">

<strong>Groups</strong>
<hr>
{% for group in groups %}

      <i class="fa fa-group" style="font-size: 18px"></i> <a href="{% url 'group_info' group.pk %}">{{ group.title }}</a>
        <hr>

    {% endfor %}
</div>
</div>


<div class="col-sm-3">
<div class="row-col">
<strong>Pending Jobs</strong>
<hr>
    {% for task in assigning_task %}
   <i class="fa fa-tasks"></i><a href="{% url 'task_detail' task.pk %}"> {{ task }}</a>
        <i class="fa fa-clock-o">{{ task.assign_time }}</i>
        <hr>

    {% endfor %}

</div>

    <div id="training" class="row-col">

     <strong>Training</strong>
        <hr>
        {% for training in trainings %}
        <i class="fa fa-graduation-cap"></i> {{ training.title }}
            <br>
           <strong>Topic: </strong>{{ training.topic }}
            <br>
            <i class="fas fa-chalkboard-teacher"></i> {{ training.schedule_by }}
            <br>
            <i class="fa fa-clock-o"></i>{{ training.schedule_time }}
            <hr>
        {% endfor %}

    </div>
</div>


<div class="col-sm-3">
<div id="assign-job" class="row-col">
<strong>Assigned Jobs</strong>
<hr>

    {% for task in creating_tasks %}
        <i class="fa fa-tasks"></i> <a href="{% url 'task_detail' task.pk %}"> {{ task }}</a>
<br>
        <i class="fa fa-check"></i>{{ task.status }}
        <hr>
    {% endfor %}

</div>

<div id="upcoming-event" class="row-col">
<strong>Upcoming Meeting</strong>
<hr>

{% for meeting in meetings %}
    {{ meeting.title }}
    <br>
    {{ meeting.description }}
    <br>
    {{ meeting.arranged_by }}
    <br>
    {{ meeting.meeting_time }}
<hr>
    {% endfor %}

</div>
</div>







{% endblock %}