{%  load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>

        {% block title %} Human Resource and Job Management
        {% endblock %}

    </title>

    <h3 style="text-align: center;font-family:'Rage Italic' "><i class="fa fa-task"></i> <i>Human Resource and Job Management</i></h3>

<link href="https://fonts.googleapis.com/css?family=Clicker+Script" rel="stylesheet"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.0.0/cropper.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
</head>

<body>
<div class="container">
{% block body %}


    {% if messages %}

<div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden>&times;</span></button>
    {% for message in messages %}
<li {% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }}</li>
{% endfor %}
  </div>
{% endif %}




    {% block header %}
   <hr>
    <div class="row">
        {% if user.is_authenticated %}

    <div class="col-sm-8 text-left">
    <i class="fa fa-calendar"><strong> {% now "jS M Y h:i A" %} </strong></i>
        <i class="fa fa-user-circle"> {{ user.employee}}</i>
    <strong>Department:</strong> {{  user.employee.department }}
    <i class="fa fa-tasks"> Role: {{  user.employee.designation }}</i>

    </div>
    <div class="col-sm-4 text-right">

    Logged in as <strong>{{ user }}</strong>. <a href="{% url 'logout' %}"> <i class="fa fa-sign-out" style="font-size: 16px"> Log out </i></a>

              {% else %}
<a href="{% url 'login' %}"><i class="fa fa-sign-in" style="font-size: 16px"> Log In   </i></a>
    <a href="{% url 'signup' %}"><i class="fa fa-user-plus" style="font-size: 16px"> Sign Up</i></a>

</div>

    {% endif %}
    </div>

        </div>
{% endblock header %}

<hr>



<div class="row">
<div class="col-sm-3">
{% block navbar %}

   <a href="{% url 'home' %}" class="nav-link btn btn-outline-info"> DashBoard </a>

     <a href="{% url 'profile_details' %}" class="nav-link btn btn-outline-info"> Profile </a>

    <a href="{% url 'employee_list' %}" class="nav-link btn btn-outline-info">Buddy List </a>
    <a href="{% url 'group_list' %}" class="nav-link btn btn-outline-info"> Groups </a>
    <a href="{% url 'tasks' %}" class="nav-link btn btn-outline-info">Jobs</a>
    <a href="{% url 'announcements' %}" class="nav-link btn btn-outline-info">Announcement </a>
    <a href="{% url 'trainings' %}" class="nav-link btn btn-outline-info">Training</a>
    <a href="{% url 'meetings' %}" class="nav-link btn btn-outline-info">Meeting</a>

{% endblock navbar %}
</div>

    <div class="col-sm-9">
        {% block content %}

    {% endblock content %}
    </div>



        </div>






{% endblock body %}


</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/shortcuts/infinite.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.0.0/cropper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>




{% block javascript %}

{% endblock %}
</html>